/* Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* * */
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}


body{
  overflow: hidden;
  font-family: "Urbanist", sans-serif;
  color: white;
  font-size: 1vw;
}

.minigame-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #120D14;
  width: 45vw;
  height: 45vw;
  background: linear-gradient(#120D14, #120D14) padding-box,
              linear-gradient(180deg, #45334e, #18121b) border-box;
  border-radius: 0.5vw;
  border: 4px solid transparent;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.minigame-fill{
  width: 10vw;
  height: 0.8vw;
  background: #1F1B22;
  border-radius: 2vw;
}

.fill{
  background: #E582C4;
  height  : 100%;
  border-radius: 2vw;
}

.minigame-title{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
  background: #120D14;
  width: 30vw;
  height: 5vw;
  z-index: 99;
  background: linear-gradient(#120D14, #120D14) padding-box,
              linear-gradient(180deg, #45334e, #18121b) border-box;
  border-radius: 0.5vw;
  border: 4px solid transparent;
}

 
 .input {
  font-family: "Urbanist", sans-serif;
  width: 100%;
  height: 100%;
  border: transparent;
  outline: none;
  font-size: 1vw;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
 }

 
 .input:focus, input:hover {
  outline: none;
  /* border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
 }

 
 
 
 
 #icon-0{
  transform: translate(-50%, -50%);
}
 


#slider-1 {
  position: relative;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  min-height: 500px;

  .icon {
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
  }

  
  
}